ion-searchbar.searchbar {
  --border-radius: 100px;
  --box-shadow: none !important;
}

.card-button {
  border-radius: 20px;
  font-family: Inria Sans, sans-serif;
  margin-top: 30px;
}

.card-button img {
  margin-left: auto;
  max-width: 80px;
}

.card-button h2 {
  font-size: 18px;
}

.card-content {
  display: flex;
  align-items: center;
}