:root {
  --ion-tab-bar-color: rgb(0, 0, 0);
  --ion-tab-bar-color-selected: rgb(0, 55, 255);
  --ion-background-color: antiquewhite;
}

ion-tab-bar {
--background: rgb(255, 255, 255);
box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
border-radius: 16px !important;
height: 50px;
width: 95%;
padding-top: 10px;
padding-bottom: 10px;
bottom: 10px;
position: relative;
margin: 0 auto !important;
border-top: none;
}

ion-tab-button {
  border-radius: 16px !important;
}