.header{
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: Inria Sans, sans-serif;
}
.title{
  font-family: Inria Sans, sans-serif;
  font-weight: 600;
}
.logo{
  display: flex; 
  justify-content: center;
}
.btn{
  margin-top: 20px;
  --background: #ffdd9f;
  --border-radius: 15px!important;
}
.card{
  border-radius: 15px;
}

.text{
  font-family: Inria Sans, sans-serif;
  font-size: 18px;
}