.custom-icon{
  font-size: 2.5rem;
  margin: 6px;
  text-decoration: none;
}

.custom-button {
  --background: transparent; /* Set the background color */
  --color: black; /* Set the text color */
  font-size: 24px;
  text-decoration: none !important; /* Remove text decoration */
}

ion-toolbar.header {
  display: flex; /* Use Flexbox to arrange children in a row */
  align-items: center; /* Vertically center the children */
  justify-content: space-between;
  --background: -webkit-linear-gradient(right, #fadba5, #fcdda8);
  color:black;
  padding:3px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}
ion-header.Header{
  --ion-header-box-shadow: none; 
}

.header-text{
  font-size:20px;
  font-weight:700;
  margin-top: 5px;
}

ion-searchbar.searchbar {
  --background: white;
  --border-radius: 100px;
  --box-shadow: none !important; /* Remove the box shadow */
  margin-top: 10px;
  --border-style:solid;
  --border-color:black;
  --border-width:1px;
}

.search-container{
  padding-top:6px;
  background-color: transparent;
}
.card-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffbfbf;
  color: #000000;
  border-radius: 20px;
}

.learning , .challenges{
  margin-top:35px;
}

.quiz{
  margin-top: 20px;;
}


.card-content {
  font-family:Inria Sans, sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
}

.left-content {
  flex-grow: 1;
  padding-right: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  font-size: 18px;
}

.right-content {
  display: flex;
  align-items: center;
}

.content{
  align-items: center;
}
